
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Comfortaa', cursive !important;
}

.auth-container {
  background: #eeeeee;
  min-height: 100%;
}

.login-card {
  margin-top: 80px;
}

.red-icon {
  color: deeppink;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-bottom-20 {
  padding-bottom: 20px !important;
}

.modal-backdrop {
  z-index: 0 !important;
}

.site-image img {
  width: 100%;
  height: 100px;
}

.site-link a {
  color: #122b40;
  font-family: Consolas !important;
  font-size: 15px;
}

.site-link a:hover {
  text-decoration: underline;
}

.shadowed-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px !important;
  height: 300px !important;
}

.shadowed-card h4 {
  font-family: Arial;
}
